<h1 mat-dialog-title>Add simulation</h1>
<mat-error>{{ error }}</mat-error>
<div class="input-container">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input #name type="text" matInput [formControl]="nameControl" required>
        <mat-error *ngIf="nameControl.invalid">You must enter a value</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Population</mat-label>
        <input #population type="number" matInput [formControl]="populationControl" required>
        <mat-error *ngIf="populationControl.invalid">{{ getPeopleNumberError(populationControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Initial infected number</mat-label>
        <input #infected type="number" matInput [formControl]="initialInfectedNumberControl" required>
        <mat-error *ngIf="initialInfectedNumberControl.invalid">{{ getPeopleNumberError(initialInfectedNumberControl) }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Number of days</mat-label>
        <input #daysOfSimulation type="number" matInput [formControl]="daysOfSimulationControl" required>
        <mat-error *ngIf="daysOfSimulationControl.invalid">{{ getPeopleNumberError(daysOfSimulationControl) }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Initial reproduction rate</mat-label>
        <input #reproduction type="number" matInput [formControl]="reproductionRateControl" required>
        <mat-error *ngIf="reproductionRateControl.invalid">{{ getNumberError(reproductionRateControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Immunity time</mat-label>
        <input #immunity type="number" matInput [formControl]="immunityTimeControl" required>
        <mat-error *ngIf="immunityTimeControl.invalid">{{ getNumberError(immunityTimeControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Incubation time</mat-label>
        <input #incubation type="number" matInput [formControl]="incubationTimeControl" required>
        <mat-error *ngIf="incubationTimeControl.invalid">{{ getNumberError(incubationTimeControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Disease duration</mat-label>
        <input #diseaseDuration type="number" matInput [formControl]="diseaseDurationControl" required>
        <mat-error *ngIf="diseaseDurationControl.invalid">{{ getNumberError(diseaseDurationControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Days of restrictions</mat-label>
        <input #daysOfRestrictions type="number" matInput [formControl]="daysOfRestrictionsControl" required>
        <mat-error *ngIf="daysOfRestrictionsControl.invalid">{{ getNumberError(daysOfRestrictionsControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Infectious Time</mat-label>
        <input #infectiousTime type="number" matInput [formControl]="infectiousTimeControl" required>
        <mat-error *ngIf="infectiousTimeControl.invalid">{{ getNumberError(infectiousTimeControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Time of onset of symptoms from incubation</mat-label>
        <input #onsetOfSymptoms type="number" matInput [formControl]="timeOfOnsetOfSymptomsControl" required>
        <mat-error *ngIf="timeOfOnsetOfSymptomsControl.invalid">{{ getNumberError(timeOfOnsetOfSymptomsControl) }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Time of dying from incubation</mat-label>
        <input #timeOfDying type="number" matInput [formControl]="timeOfDyingFromIncubationControl" required>
        <mat-error *ngIf="timeOfDyingFromIncubationControl.invalid">{{ getNumberError(timeOfDyingFromIncubationControl)
            }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Birth rate</mat-label>
        <input #birthRate type="number" matInput [formControl]="birthRateControl" required>
        <mat-error *ngIf="birthRateControl.invalid">{{ getNumberBetweenZeroAndOneError(birthRateControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Natural death rate</mat-label>
        <input #naturalDeathRate type="number" matInput [formControl]="naturalDeathRateControl" required>
        <mat-error *ngIf="naturalDeathRateControl.invalid">{{ getNumberBetweenZeroAndOneError(naturalDeathRateControl)
            }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Quarantine rate</mat-label>
        <input #quarantineRate type="number" matInput [formControl]="quarantineRateControl" required>
        <mat-error *ngIf="quarantineRateControl.invalid">{{ getNumberBetweenZeroAndOneError(quarantineRateControl) }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Disease death rate</mat-label>
        <input #diseaseDeathRate type="number" matInput [formControl]="diseaseDeathRateControl" required>
        <mat-error *ngIf="diseaseDeathRateControl.invalid">{{ getNumberBetweenZeroAndOneError(diseaseDeathRateControl)
            }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Reduction by restrictions</mat-label>
        <input #reductionByRestrictions type="number" matInput [formControl]="reductionByRestrictionsControl" required>
        <mat-error *ngIf="reductionByRestrictionsControl.invalid">{{
            getNumberBetweenZeroAndOneError(reductionByRestrictionsControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Percentage of population when restrictions begin</mat-label>
        <input #beginsOfRestrictions type="number" matInput [formControl]="percentageOfPopulationWhenRestrictionsBeginsControl" required>
        <mat-error *ngIf="percentageOfPopulationWhenRestrictionsBeginsControl.invalid">{{
            getNumberBetweenZeroAndOneError(percentageOfPopulationWhenRestrictionsBeginsControl) }}</mat-error>
    </mat-form-field>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button (click)="onAddClick(name.value, population.value, infected.value, daysOfSimulation.value, reproduction.value, immunity.value, incubation.value, diseaseDuration.value, daysOfRestrictions.value, infectiousTime.value, onsetOfSymptoms.value, timeOfDying.value, birthRate.value, naturalDeathRate.value, quarantineRate.value, diseaseDeathRate.value, reductionByRestrictions.value, beginsOfRestrictions.value)" cdkFocusInitial>Add</button>
    </mat-dialog-actions>
</div>